# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
.venv/

# Streamlit file cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Log files
*.log
